body {
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #497d74;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

.content {
    position: relative;
    z-index: 2;
}

.navbar {
    transition: all 0.3s ease-in-out; /* Smooth shrinking effect */
}

/* Navbar toggler */
.navbar-toggler {
    background-color: white;
}

.navbar.scrolled {
    background-color: #27445d;
    box-shadow: 0 2px 8px #05203f;
}

.nav-link {
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #00d4ff;
}

.navbar-nav .nav-link.active {
    color: #00d4ff !important; /* Change to your preferred active color */
    font-weight: bold; /* Makes it stand out */
    border-bottom: 2px solid #00d4ff; /* Optional underline effect */
}

.nav-link:focus {
    color: #00d4ff;
    outline: none;
}

.navbar-toggler .active {
    border: 2px solid #00d4ff;
}

.navbar-toggler .focus {
    border: 2px solid #00d4ff;
}

.home-container {
    position: relative; /* Ensures pseudo-element is positioned relative to this */
    height: 100%;
    max-width: 100%;
    padding-left: 80px;
    padding-right: 20px;
    margin: auto;
    background-size: cover; /* Adjusts image to fill the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0; /* Ensures it stays below content */
    background: linear-gradient(
        to bottom,
        rgba(39, 68, 93, 0.8),
        rgba(39, 68, 93, 0.8),
        #6d7b8d
    );
}

/* Ensures content stays above the overlay */
.home-container > * {
    position: relative;
    z-index: 1;
}

.home-container h1 {
    font-weight: bold;
    color: white;
    font-size: 45px;
    margin-top: 150px;
}
.home-container h2 {
    font-weight: bold;
    color: white;
    font-size: 35px;
    margin-top: -5px;
}

.home-container p {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 0;
}

.hero-container h1 {
    padding-right: 0px;
}

@media (min-width: 992px) {
    .hero-container {
        flex-direction: row;
        align-items: normal;
        gap: 150px;
    }
    .hero-container h1 {
        padding-right: 50px;
    }
    .home-container {
        height: 750px !important;
    }
}

@media (min-width: 1400px) {
    .home-container {
        max-width: 1320px;
    }
}

.features-container {
    margin: auto;
    max-width: 100%;
    background-color: #6d7b8d;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    border-bottom: 2px solid #b0bcc8;
    padding-top: 80px;
}

.features-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.features-container h1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
}

@media (min-width: 515px) {
    .center-image {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .right-image {
        border-left: 2px solid #b0bcc8 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 770px) {
    .features-container {
        width: 100%;
    }
    .features-style {
        align-items: normal !important;
        height: auto !important;
        width: 100%;
    }

    .right-image {
        border-left: 0 !important;
        border-left: 0 !important;
    }
    .center-image {
        border-left: 2px solid #b0bcc8 !important;
        border-right: 2px solid #b0bcc8 !important;
    }
}

@media (min-width: 1400px) {
    .features-container {
        max-width: 1320px;
    }
}

.features-style {
    display: flex;
    flex-direction: column; /* Stack image on top and text below */
    align-items: center; /* Center content horizontally */
    background-color: #6d7b8d;
    color: #f5f5f5;
    height: auto; /* Remove fixed height for better responsiveness */
    border-top: 2px solid #b0bcc8;
    width: 100%;
    flex: 1 1 calc(33.33% - 10px);
    transition: all 0.3s ease;
    cursor: pointer; /* Makes it look clickable */
}

.features-style:hover {
    background-color: #556473;
    color: #f5f5f5;
}

.center-image {
    border-left: 0;
    border-right: 0;
}
.right-image {
    border-left: 0;
    border-right: 0;
}

.features-container h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.features-container p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    white-space: inherit;
    margin-left: 40px;
    padding-right: 40px;
}

.image-wrapper-style {
    position: relative;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

.image-wrapper-style img {
    width: 250px;
    object-fit: fill; /* Ensure the entire image is visible */
    height: 200px;
    margin-top: 50px;
}

.process {
    height: 100%;
    background: linear-gradient(to bottom, #6d7b8d, #6d7b8d, #273746);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 90px;
    overflow: hidden;
}

@media (min-width: 1400px) {
    .process {
        max-width: 1320px;
    }
}

.process-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    gap: 20px;
}
@media (min-width: 515px) {
    /* .process-container {
    display: flex;
    flex-direction: column;
  } */
}

.process-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    flex: 1 1 calc(50% - 10px);
    transition: all 0.3s ease;
}

.process-image-wrapper img {
    width: 250px;
    object-fit: fill; /* Ensure the entire image is visible */
    height: 200px;
    margin-top: 50px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
}

.process-image-wrapper img.active {
    opacity: 1;
}

.process-style {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 10px); /* Adjust for two columns */
    color: #f5f5f5;
    width: 100%;
}

.process-style:hover {
    color: #9ca1a6;

    .box-wrapper-one {
        border-left: 2px solid #9ca1a6 !important;
    }
    .box-wrapper-two {
        border-left: 2px solid #9ca1a6 !important;
    }
    .box-wrapper-three {
        border-left: 2px solid #9ca1a6 !important;
    }
}

.process-style-box {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    box-sizing: border-box; /* Prevents width changes */
    padding: 20px;
}

.box-wrapper-one {
    border-left: 2px solid #f5f5f5 !important;
    transition: all 0.5s ease;
}
.box-wrapper-two {
    border-left: 2px solid #f5f5f5 !important;
    transition: all 0.5s ease;
}
.box-wrapper-three {
    border-left: 2px solid #f5f5f5 !important;
    transition: all 0.5s ease;
}

.box-one:hover {
    .box-wrapper-one {
        border-left: 2px solid #f5f5f5 !important;
        color: #f5f5f5;
        transform: translateX(5%);
    }
}
.box-two:hover {
    .box-wrapper-two {
        border-left: 2px solid #f5f5f5 !important;
        color: #f5f5f5;
        transform: translateX(5%);
    }
}
.box-three:hover {
    .box-wrapper-three {
        border-left: 2px solid #f5f5f5 !important;
        color: #f5f5f5;
        transform: translateX(5%);
    }
}

.process-container h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-left: 20px;
}

.process-container p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    white-space: inherit;
    margin-left: 20px;
    padding-right: 40px;
}

.process h1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
}

.contacts {
    background: #27445d;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1400px) {
    .contacts {
        max-width: 1320px;
    }
}

.contacts h1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
}

.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
}

.contacts-container {
    background-color: #27445d;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
    width: 500px;
    height: 250px;
    border: 2px solid white;
    padding: 20px;
}

.contacts h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contacts p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    white-space: inherit;
}

.contacts-container:hover {
    background-color: #1e5b6e;
}

.contacts-image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;
}

.contacts-img {
    color: white;
    font-size: 2.4rem;
    transition: all 0.3s ease;
    border: 2px solid white;
    border-radius: 1.5rem;
    text-shadow: none !important;
}

.contacts-img:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5); /* Changes border color */
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #27445d;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #27445d;
    border-top: 2px solid white;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: auto;
    width: 90%;
}

@media (min-width: 1400px) {
    .footer-wrapper {
        max-width: 1200px;
    }
}

.footer-wrapper p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    white-space: inherit;
}

.section-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

#home {
    padding-top: 80px;
    margin-top: -80px;
}
